tf-agents==0.15.0
tensorflow-probability==0.15.0
pyglet==2.0.9
pyvirtualdisplay==3.0
dm-reverb==0.10.0
jupyter_core==4.12.0
jupyter_server==2.0.0
jupyterlab==3.6.5
jinja2==3.0.3
jsonschema==4.17.3
packaging==21.3
nbformat==5.7.0
imageio==2.25.1
imageio-ffmpeg==0.4.8