tf-agents==0.12.0
tensorflow-probability==0.15.0
pyglet==1.5.27
pyvirtualdisplay==3.0
dm-reverb==0.7.0
jupyter_core==4.10.0
jupyter_server==1.18.1
jupyterlab==3.4.8
jinja2==3.0.3
jsonschema==4.17.3
packaging==21.3
nbformat==5.7.0
imageio==2.19.3
imageio-ffmpeg==0.4.8